<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyn.dao.UtDao">
    <select id="getAll" resultType="com.yyn.entity.Teacher">
        SELECT t.* FROM ut ut LEFT JOIN teacher t ON ut.tid = t.id WHERE uid = #{id}
    </select>
</mapper>